<html>
    <body>
        <form action="/comment">
            <label for="r_to">Reply to:</label>
            <input type="text" id="r_to" name="r_to"><br><br>
            
            <label for="comment">Comment:</label>
            <input type="text" id="comment" name="comment"><br><br>
            
            <label for="img">Image:</label>
            <input type="file" id="img" name="img" accept="image/*"><br><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>